{% extends "_layout.twig" %}

{% block content %}

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>{{ entry.title }}</h1>
    {{ entry.body }}
    <p>
      <a class="btn btn-lg btn-primary" href="../../components/navbar" role="button">View navbar docs &raquo;</a>
    </p>
  </div>

	<h2>Recent News</h2>
	<ul>
		{% for entry in craft.entries.section('news').limit(5).find() %}
			<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
		{% endfor %}
	</ul>

{% endblock %}
